* {
    background-color: aquamarine;
    font-family:sans-serif;
}

.jamdigital {
    overflow: hidden;
    width: 445px;
    margin: 20px auto;
    border: 5px solid rgb(41, 40, 40);
    border-radius: 37px;
}

.kotak {
    float: left;
    width: 110px;
    height: 100px;
    background-color: black;
}

.jam {
    color: crimson;
    background-color: whitesmoke;
    border: 3px solid gray;
    border-radius: 30px;
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
}